doctype html
html
  head
    meta(charset='UTF-8', content='text/html')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
  body
    nav(class='navbar navbar-inverse navbar-fixed-top')
        div(class='container')
            div(class='navbar-header')
                button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span(class='sr-only') Toogle Navigation
                    span(class='icon-bar')
                    span(class='icon-bar')
                    span(class='icon-bar')
                a(class='navbar-brand', href='/') plakattarto.hu
            div(id='navbar', class='collapse navbar-collapse')
                ul(class='nav navbar-nav')
                    - var active= page
                    case active
                        when "home"
                            li.active
                                a(href='/') Home
                            li
                                a(href='/about') Rólunk
                            li
                                a(href='/contact') Kapcsolat
                        when "about"
                            li
                                a(href='/') Home
                            li.active
                                a(href='/about') Rólunk
                            li
                                a(href='/contact') Kapcsolat
                        when "contact"
                            li
                                a(href='/') Home
                            li
                                a(href='/about') Rólunk
                            li.active
                                a(href='/contact') Kapcsolat
                        default
                            li
                                a(href='/') Home
                            li
                                a(href='/about') Rólunk
                            li
                                a(href='/contact') Kapcsolat

    block content
    script(src='/jquery/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    //- script(src='/knockout/knockout.js')